@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alpine.js: hide elements until ready */
[x-cloak] {
    display: none !important;
}

@layer utilities {
    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
